* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

@media all and (max-width:575px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 48.4px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }

    .headerIcon {
        position: absolute;
        right: 10px;
        color: #abaeb0;
        font-size: 23px;
        top: 10px;
        cursor: pointer;
        transition: all 500ms ease 0s;
    }

    .headerIcon:hover {
        color: white;

    }

    ul {
        display: none;
    }

}

@media all and (min-width:576px) and (max-width:767px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 48.4px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }

    .headerIcon {
        position: absolute;
        right: 10px;
        color: #abaeb0;
        font-size: 23px;
        top: 10px;
        cursor: pointer;
        transition: all 500ms ease 0s;
    }

    .headerIcon:hover {
        color: white;

    }

    ul {
        display: none;
    }

}

@media all and (min-width:768px) and (max-width:991px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 48.4px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }

    .headerIcon {
        display: none;
    }

    #navul {
        display: none;
    }

    ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 48.4px;
        list-style-type: none;
    }

    li {
        line-height: 40PX;
    }

    a {
        padding: 13px 12px;

        padding-right: 10px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: rgb(180, 180, 180);
        transition: all 300ms ease 0s;
        text-align: center;
    }

    a:hover {
        color: white;
    }

}

@media all and (min-width:992px) and (max-width:1199px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 48.4px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }

    .headerIcon {
        display: none;
    }

    #navul {
        display: none;
    }

    ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 48.4px;
        list-style-type: none;
    }

    li {
        line-height: 40PX;
    }

    a {
        padding: 13px 17px;

        padding-right: 10px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: rgb(180, 180, 180);
        transition: all 300ms ease 0s;
        text-align: center;
    }

    a:hover {
        color: white;
    }
}

@media all and (min-width:1200px) {
    .navigation {
        width: 100%;
        height: 100px;
        background-color: #242424;
        position: fixed;
    }

    .logoDiv {
        width: 100%;
        height: 100px;
        position: relative;
    }

    .logoImg {
        position: absolute;
        left: 10%;
        bottom: -50%;
    }


    ul {
        width: 550px;
        height: 100px;
        list-style-type: none;
        justify-content: right;
        display: flex;
    }

    li {
        height: 60px;
        line-height: 120px;
    }

    #navul {
        margin-left: 40%;
    }

    .br {
        border-right: 1px solid #47474c;

    }

    a {
        padding: 13px 12px;
        line-height: 60px;
        padding-right: 10px;
        height: 60px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: rgb(180, 180, 180);
        transition: all 300ms ease 0s;
        text-align: center;
    }

    a:hover {
        color: white;
    }
}