* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

@media all and (max-width:575px) {

    .top-nav {
        display: flex;
        width: 100%;
        height: 125px;
        justify-content: center;
        background-color: #252525;
    }

    img {
        height: 100px;
    }

    .nav {
        width: 100%;
        height: 50px;
        background-color: #252525;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: #252525;
        overflow: hidden;
        transition: all 500ms ease 0s;
        position: absolute;
    }

    ul>li {
        width: 100%;
    }

    ul>li:first-of-type {
        margin-top: 50px;
    }

    ul>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;
    }

    .submenu {
        position: relative;
    }

    ol {
        width: 100%;
        height: 300px;
        padding-left: 0;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        position: relative;
        display: none;

    }

    .submenu:hover ol {
        display: block;

    }

    a:hover {
        color: white
    }

    ol>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;

    }

    .icon {
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        color: #7b7d7e;
        position: absolute;
        top: 130px;
        right: 0;
        cursor: pointer;
        transition: all 300ms ease 0s;
    }

    .icon:hover {
        color: white;
    }

    .nav-height {
        padding-left: 0;
        height: 600px;
        overflow: auto;

    }

    h1 {
        margin-left: 10px;
        margin-top: 30px;
        color: red;
        font-family: 'Roboto', sans-serif;
    }

    .ptop {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 10px;
        height: 60px;
        line-height: 30px;
        color: #8b8f92;


    }

    .paragraph {
        height: 380px;
    }

    .remove-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        width: 100%;
        height: 80px;
        background-color: #ed1c24;

    }

    .rice {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 80px;
        margin-left: 30px;

    }

    button {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 1px solid gray;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: sans-serif;
        border-radius: 8px;
        color: gray;
    }

    button:hover {
        background-color: #ed1c24;
        color: white;
    }

    .blue {
        width: 100%;
        height: 250px;
        background-color: #105153;
    }

    .pblue {
        color: #01959a;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        line-height: 250px;

    }

    .blue1 {
        width: 100%;
        height: 250px;
        background-color: #105153;
        margin-top: 1px;
    }

    .bulding {
        width: 95%;
        height: 258px;
        margin-top: 20px;
        margin-left: 8px;
    }

    .topfooter {
        width: 100%;
        height: 100px;
        direction: rtl;
        background-color: #eeefef;
    }

    .topfooter>i {
        font-size: 40px;
        color: #b7b7b7;
        line-height: 100px;
        padding: 5px;
    }

    .instagram {
        transition: all 200ms ease 0s;
    }

    .instagram:hover {
        color: purple;
    }

    .telegram {
        transition: all 200ms ease 0s;
    }

    .telegram:hover {
        color: #01959a;
    }

    .linkedin {
        transition: all 200ms ease 0s;
    }

    .linkedin:hover {
        color: blue;
    }

    .facebook {
        transition: all 200ms ease 0s;
    }

    .facebook:hover {
        color: brown;
    }

    .whatsapp {
        transition: all 200ms ease 0s;
    }

    .whatsapp:hover {
        color: green
    }

    .redbar {
        width: 100%;
        height: 20px;
        background-color: #ed1c24;
    }

    .footer {
        width: 100%;
        height: 600px;
        background-color: #252525;

    }

    .ulfot {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 20px;
        background-color: #252525;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot {
        height: 30px;
    }

    .lifoot>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }


    .imgs {
        width: 100%;
        height: 130px;

    }

    .img1 {
        margin-top: 20px;
        margin-left: 20px;

    }

    .img2 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .img3 {
        display: none;
    }

    .img4 {
        display: none;
    }

    .ulfot2 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .img3 {
        display: none;
    }

    .lifoot2 {
        height: 30px;
    }

    .lifoot2>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .pborders {
        width: 100%;
        height: 30px;

    }

    .pborder {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 20px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder2 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder3 {
        display: none;
    }

    .pborder4 {
        display: none;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .top-nav {
        display: flex;
        width: 100%;
        height: 125px;
        justify-content: center;
        background-color: #252525;
    }

    img {
        height: 100px;
    }

    .nav {
        width: 100%;
        height: 50px;
        background-color: #252525;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: #252525;
        overflow: hidden;
        transition: all 500ms ease 0s;
        position: absolute;
    }

    ul>li {
        width: 100%;
    }

    ul>li:first-of-type {
        margin-top: 50px;
    }

    ul>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;
    }

    .submenu {
        position: relative;
    }

    ol {
        width: 100%;
        height: 300px;
        padding-left: 0;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        position: relative;
        display: none;

    }

    .submenu:hover ol {
        display: block;

    }

    a:hover {
        color: white
    }

    ol>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;

    }

    .icon {
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        color: #7b7d7e;
        position: absolute;
        top: 130px;
        right: 0;
        cursor: pointer;
        transition: all 300ms ease 0s;
    }

    .icon:hover {
        color: white;
    }

    .nav-height {
        height: 600px;
        padding-left: 0;
        overflow: auto;

    }

    .chaii {
        width: 100%;
        height: 500px;
        background-color: #d8d8d8;
    }

    .chpic {
        display: block;
        margin: 10px auto;
        width: 300px;
        height: 380px;

    }

    h2 {
        font-size: 40px;
        margin-left: 20px;
        font-family: sans-serif;
        color: #ed1c24;

    }

    h1 {
        margin-left: 10px;
        margin-top: 30px;
        color: red;
        font-family: 'Roboto', sans-serif;
    }

    .ptop {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 10px;
        height: 60px;
        line-height: 30px;
        color: #8b8f92;


    }

    .paragraph {
        height: 380px;
    }


    .remove-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        width: 100%;
        height: 80px;
        background-color: #ed1c24;

    }

    .rice {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 80px;
        margin-left: 30px;

    }

    button {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 1px solid gray;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: sans-serif;
        border-radius: 8px;
        color: gray;
    }

    button:hover {
        background-color: #ed1c24;
        color: white;
    }

    .blue {
        width: 100%;
        height: 250px;
        background-color: #105153;
    }

    .pblue {
        color: #01959a;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        line-height: 250px;

    }

    .blue1 {
        width: 100%;
        height: 250px;
        background-color: #105153;
        margin-top: 1px;
    }

    .bulding {
        width: 95%;
        height: 258px;
        margin-top: 20px;
        margin-left: 8px;
    }

    .topfooter {
        width: 100%;
        height: 100px;
        direction: rtl;
        background-color: #eeefef;
    }

    .topfooter>i {
        font-size: 40px;
        color: #b7b7b7;
        line-height: 100px;
        padding: 5px;
    }

    .instagram {
        transition: all 200ms ease 0s;
    }

    .instagram:hover {
        color: purple;
    }

    .telegram {
        transition: all 200ms ease 0s;
    }

    .telegram:hover {
        color: #01959a;
    }

    .linkedin {
        transition: all 200ms ease 0s;
    }

    .linkedin:hover {
        color: blue;
    }

    .facebook {
        transition: all 200ms ease 0s;
    }

    .facebook:hover {
        color: brown;
    }

    .whatsapp {
        transition: all 200ms ease 0s;
    }

    .whatsapp:hover {
        color: green
    }

    .redbar {
        width: 100%;
        height: 20px;
        background-color: #ed1c24;
    }

    .footer {
        width: 100%;
        height: 600px;
        background-color: #252525;

    }

    .ulfot {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 20px;
        background-color: #252525;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot {
        height: 30px;
    }

    .lifoot>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }


    .imgs {
        width: 100%;
        height: 130px;

    }

    .img1 {
        margin-top: 20px;
        margin-left: 20px;

    }

    .img2 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .img3 {
        margin-left: 25px;
        margin-top: 20px;

    }
    .img4{
        display: none;
    }

    .ulfot2 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot2 {
        height: 30px;
    }

    .lifoot2>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .ulfot3 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot3 {
        height: 30px;
    }

    .lifoot3>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .pborders {
        width: 100%;
        height: 30px;

    }

    .pborder {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 20px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder2 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder3 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }
    .pborder4{
        display: none;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .top-nav {
        display: flex;
        width: 100%;
        height: 125px;
        justify-content: center;
        background-color: #252525;
    }

    img {
        height: 100px;
    }

    .nav {
        width: 100%;
        height: 50px;
        background-color: #252525;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 50px;
        display: flex;

        justify-content: center;

        background-color: #252525;


    }

    ul>li {
        margin-right: 20px;
    }



    ul>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 7px;
        padding-right: 7px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;
    }

    .submenu {
        position: relative;
    }

    ol {
        width: 100%;
        height: 200px;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        padding-left: 0;
        position: absolute;
        display: none;

    }

    .submenu:hover ol {
        display: block;

    }

    a:hover {
        color: white
    }

    ol>li>a {
        display: block;
        height: 33px;
        line-height: 33px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #7b7d7e;

        transition: all 300ms ease 0s;

    }

    .icon {
        display: none;
    }

    h3 {
        color: red;
        font-size: 25px;
        margin-top: 40px;
    }

    .mdp {
        color: #a0a0a0;

    }

    .mdpic {
        display: block;
        width: 300px;
        height: 380px;
        margin: 5px auto;
    }

    .coltop {
        height: 390px;
        background-color: #e6e6e6;
    }

    .mdbut {
        width: 130px;
        height: 40px;
        background-color: white;
        border: 1px solid white;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: sans-serif;
        border-radius: 8px;
        color: gray;
    }

    .mdbut:hover {
        color: white;
        background-color: #ed1c24;
    }

    h2 {
        font-size: 40px;
        margin-left: 20px;
        font-family: sans-serif;
        color: #ed1c24;

    }

    h1 {
        margin-left: 10px;
        margin-top: 30px;
        color: red;
        font-family: 'Roboto', sans-serif;
    }

    .ptop {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 10px;
        height: 60px;
        line-height: 30px;
        color: #8b8f92;


    }

    .paragraph {
        height: 380px;
    }

    .paragraph2 {
        height: 380px;
        margin-top: 100px;
    }



    .remove-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        width: 300px;
        height: 80px;
        background-color: #ed1c24;


    }

    .imgrice {
        height: 230px;

    }

    .rice {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 80px;
        margin-left: 30px;

    }

    button {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 1px solid gray;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: sans-serif;
        border-radius: 8px;
        color: gray;
    }

    button:hover {
        background-color: #ed1c24;
        color: white;
    }

    .blue {
        width: 100%;
        height: 250px;
        background-color: #105153;
    }

    .pblue {
        color: #01959a;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        line-height: 250px;

    }

    .blue1 {
        width: 100%;
        height: 250px;
        background-color: #105153;
        margin-top: 1px;
    }

    .bulding {
        display: block;
        width: 395px;
        height: 344px;
        margin-left: auto;
        margin-right: auto;
    }

    .downblu {
        margin-top: 30px;

    }

    .topfooter {
        width: 100%;
        height: 100px;
        direction: rtl;
        background-color: #eeefef;
    }

    .topfooter>i {
        font-size: 40px;
        color: #b7b7b7;
        line-height: 100px;
        margin-right: 25px;
        padding: 5px;
    }

    .instagram {
        transition: all 200ms ease 0s;
    }

    .instagram:hover {
        color: purple;
    }

    .telegram {
        transition: all 200ms ease 0s;
    }

    .telegram:hover {
        color: #01959a;
    }

    .linkedin {
        transition: all 200ms ease 0s;
    }

    .linkedin:hover {
        color: blue;
    }

    .facebook {
        transition: all 200ms ease 0s;
    }

    .facebook:hover {
        color: brown;
    }

    .whatsapp {
        transition: all 200ms ease 0s;
    }

    .whatsapp:hover {
        color: green
    }

    .redbar {
        width: 100%;
        height: 20px;
        background-color: #ed1c24;
    }

    .footer {
        width: 100%;
        height: 600px;
        background-color: #252525;

    }

    .ulfot {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 20px;
        background-color: #252525;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot {
        height: 30px;
    }

    .lifoot>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }


    .imgs {
        width: 100%;
        height: 130px;

    }

    .img1 {
        margin-top: 20px;
        margin-left: 20px;

    }

    .img2 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .img3 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .img4 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .ulfot2 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot2 {
        height: 30px;
    }


    .lifoot2>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .ulfot3 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot3 {
        height: 30px;
    }

    .lifoot3>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .ulfot4 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot4 {
        height: 30px;
    }

    .lifoot4>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .pborders {
        width: 100%;
        height: 30px;

    }

    .pborder {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 20px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder2 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder3 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder4 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .top-nav {
        display: flex;
        width: 100%;
        height: 125px;
        justify-content: center;
        background-color: #252525;
    }

    img {
        height: 100px;
    }

    .nav {
        width: 100%;
        height: 50px;
        background-color: #252525;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 50px;
        display: flex;

        justify-content: center;

        background-color: #252525;


    }

    ul>li {
        margin-right: 20px;
    }



    ul>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 14px;
        padding-right: 14px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;
    }

    .submenu {
        position: relative;
    }

    ol {
        width: 100%;
        height: 200px;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        padding-left: 0;
        position: absolute;
        display: none;

    }

    .submenu:hover ol {
        display: block;

    }

    a:hover {
        color: white
    }

    ol>li>a {
        display: block;
        height: 33px;
        line-height: 33px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #7b7d7e;

        transition: all 300ms ease 0s;

    }

    .icon {
        display: none;
    }

    h3 {
        color: red;
        font-size: 25px;
        margin-top: 40px;
    }

    .mdp {
        color: #a0a0a0;

    }

    .mdpic {
        display: block;
        width: 300px;
        height: 380px;
        margin: 5px auto;
    }

    .coltop {
        height: 390px;
        background-color: #e6e6e6;
    }

    .mdbut {
        width: 130px;
        height: 40px;
        background-color: white;
        border: 1px solid white;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: sans-serif;
        border-radius: 8px;
        color: gray;
    }

    .mdbut:hover {
        color: white;
        background-color: #ed1c24;
    }

    h2 {
        font-size: 40px;
        margin-left: 20px;
        font-family: sans-serif;
        color: #ed1c24;

    }

    h1 {
        margin-left: 10px;
        margin-top: 30px;
        color: red;
        font-family: 'Roboto', sans-serif;
    }

    .ptop {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 10px;
        height: 60px;
        line-height: 30px;
        color: #8b8f92;


    }

    .paragraph {
        height: 380px;
    }

    .paragraph2 {
        height: 380px;
        margin-top: 100px;
    }



    .remove-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        width: 300px;
        height: 80px;
        background-color: #ed1c24;


    }

    .imgrice {
        height: 350px;

    }

    .rice {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 80px;
        margin-left: 30px;

    }

    button {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 1px solid gray;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: sans-serif;
        border-radius: 8px;
        color: gray;
    }

    button:hover {
        background-color: #ed1c24;
        color: white;
    }

    .blue {
        width: 100%;
        height: 250px;
        background-color: #105153;
    }

    .pblue {
        color: #01959a;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        line-height: 250px;

    }

    .blue1 {
        width: 100%;
        height: 250px;
        background-color: #105153;
        margin-top: 1px;
    }

    .bulding {
        display: block;
        width: 395px;
        height: 344px;
        margin-left: auto;
        margin-right: auto;
    }

    .downblu {
        margin-top: 30px;

    }

    .topfooter {
        width: 100%;
        height: 100px;
        direction: rtl;
        background-color: #eeefef;
    }

    .topfooter>i {
        font-size: 40px;
        color: #b7b7b7;
        line-height: 100px;
        margin-right: 25px;
        padding: 5px;
    }

    .instagram {
        transition: all 200ms ease 0s;
    }

    .instagram:hover {
        color: purple;
    }

    .telegram {
        transition: all 200ms ease 0s;
    }

    .telegram:hover {
        color: #01959a;
    }

    .linkedin {
        transition: all 200ms ease 0s;
    }

    .linkedin:hover {
        color: blue;
    }

    .facebook {
        transition: all 200ms ease 0s;
    }

    .facebook:hover {
        color: brown;
    }

    .whatsapp {
        transition: all 200ms ease 0s;
    }

    .whatsapp:hover {
        color: green
    }

    .redbar {
        width: 100%;
        height: 20px;
        background-color: #ed1c24;
    }

    .footer {
        width: 100%;
        height: 600px;
        background-color: #252525;

    }

    .ulfot {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 20px;
        background-color: #252525;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot {
        height: 30px;
    }

    .lifoot>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }


    .imgs {
        width: 100%;
        height: 130px;

    }

    .img1 {
        margin-top: 20px;
        margin-left: 20px;

    }

    .img2 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .img3 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .img4 {
        margin-left: 25px;
        margin-top: 20px;

    }

    .ulfot2 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        position: relative;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot2 {
        height: 30px;
    }


    .lifoot2>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .ulfot3 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot3 {
        height: 30px;
    }

    .lifoot3>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .ulfot4 {
        list-style-type: none;
        width: 140px;
        height: 200px;
        padding: 0;
        margin-left: 35px;
        display: inline-block;
        color: #a1a3a5;
    }

    .lifoot4 {
        height: 30px;
    }

    .lifoot4>a {
        line-height: 30px;
        height: 30px;
        text-align: center;
    }

    .pborders {
        width: 100%;
        height: 30px;

    }

    .pborder {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 20px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder2 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder3 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }

    .pborder4 {
        width: 138px;
        display: inline-block;
        color: white;
        margin-left: 35px;
        font-family: sans-serif;
        text-align: center;
        border-top: 1px solid #969899;
        border-bottom: 2px solid #969899;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {


    img {
        height: 100px;
        left: 70px;
        top: 50px;
        position: absolute;
    }

    .nav {
        width: 100%;
        height: 100px;
        background-color: #252525;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 100px;
        display: flex;


        justify-content: center;

        background-color: #252525;


    }

    ul>li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .br {
        border-right: 1px solid #7b7d7e;
    }


    ul>li>a {
        display: block;
        height: 100px;
        line-height: 120px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 16px;
        padding-left: 14px;
        padding-right: 14px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;
    }

    .submenu {
        position: relative;
    }

    ol {
        width: 100%;
        height: 200px;
        padding-left: 0;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        position: absolute;
        display: none;

    }

    .submenu:hover ol {
        display: block;

    }

    a:hover {
        color: white
    }

    ol>li>a {
        display: block;
        height: 33px;
        line-height: 33px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #7b7d7e;

        transition: all 300ms ease 0s;

    }

    .icon {
        display: none;
    }
}

@media all and (min-width:1400px) {
    img {
        height: 100px;
        left: 70px;
        top: 50px;
        position: absolute;
    }

    .nav {
        width: 100%;
        height: 100px;
        background-color: #252525;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 100px;
        display: flex;



        justify-content: center;

        background-color: #252525;


    }

    ul>li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .br {
        border-right: 1px solid #7b7d7e;
    }


    ul>li>a {
        display: block;
        height: 100px;
        line-height: 120px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 16px;
        padding-left: 14px;
        padding-right: 14px;
        color: #7b7d7e;
        transition: all 300ms ease 0s;
    }

    .submenu {
        position: relative;
    }

    ol {
        width: 100%;
        height: 200px;
        padding-left: 0;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        position: absolute;
        display: none;

    }

    .submenu:hover ol {
        display: block;

    }

    a:hover {
        color: white
    }

    ol>li>a {
        display: block;
        height: 33px;
        line-height: 33px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #7b7d7e;

        transition: all 300ms ease 0s;

    }

    .icon {
        display: none;
    }
}