* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

@media all and (max-width:575px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 50px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }


    .headerIcon {
        display: block;
        position: absolute;
        right: 10px;
        color: #abaeb0;
        font-size: 23px;
        top: 10px;
        cursor: pointer;
        transition: all 500ms ease 0s;
    }

    .headerIcon:hover {
        color: white;

    }

    #navul {
        display: none;
    }

    .navulAcc {
        height: 0;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: #242424;
        transition: all 400ms ease 0s;
        margin-top: 20px;

    }


    li {
        width: 100%;
        height: 40px;
        margin-left: 10px;
    }

    ul>li>a {
        text-decoration: none;
        color: rgb(180, 180, 180);
        font-family: 'Raleway', sans-serif;
        transition: all 300ms ease 0s;

    }


    a:hover {
        color: white;
    }

    ol>li>a {
        font-size: 15px;
        height: 30px;
        line-height: 50px;

    }

    .submenuB {
        position: relative;

    }

    ol {
        width: 250px;
        height: 0px;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        overflow: hidden;
        position: relative;
        transition: all 300ms ease 0s;

    }

    .submenuB:hover ol {
        display: block;

    }

    .navAcc-height {
        height: 300px;
        overflow: auto;
    }

    .submenuB-height {
        height: 150px;
        overflow: auto;

    }

}

@media all and (min-width:576px) and (max-width:767px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 50px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }


    .headerIcon {
        display: block;
        position: absolute;
        right: 10px;
        color: #abaeb0;
        font-size: 23px;
        top: 10px;
        cursor: pointer;
        transition: all 500ms ease 0s;
    }

    .headerIcon:hover {
        color: white;

    }

    #navul {
        display: none;
    }

    .navulAcc {
        height: 0;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: #242424;
        transition: all 400ms ease 0s;
        margin-top: 20px;

    }


    li {
        width: 100%;
        height: 40px;
        margin-left: 10px;
    }

    ul>li>a {
        text-decoration: none;
        color: rgb(180, 180, 180);
        font-family: 'Raleway', sans-serif;
        transition: all 300ms ease 0s;

    }


    a:hover {
        color: white;
    }

    ol>li>a {
        font-size: 15px;
        height: 30px;
        line-height: 50px;

    }

    .submenuB {
        position: relative;

    }

    ol {
        width: 250px;
        height: 0px;
        background-color: rgb(59, 57, 57);
        list-style-type: none;
        overflow: hidden;
        position: relative;
        transition: all 300ms ease 0s;

    }

    .submenuB:hover ol {
        display: block;

    }

    .navAcc-height {
        height: 300px;
        overflow: auto;
    }

    .submenuB-height {
        height: 150px;
        overflow: auto;

    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 48.4px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }

    .headerIcon {
        display: none;
    }

    #navul {
        display: none;
    }

    ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 48.4px;
        list-style-type: none;
    }

    li {
        line-height: 40PX;
    }

    ol {
        display: none;
        width: 100%;
        height: 310px;
        background-color: #242424;
        list-style-type: none;
        position: absolute;



    }

    .Asub {
        font-size: 10px;
        height: 50px;
        line-height: 50px;

    }

    .submenuB {
        position: relative;
    }

    .submenuB:hover ol {
        display: block;
    }

    a {
        padding: 13px 12px;

        padding-right: 10px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: rgb(180, 180, 180);
        transition: all 300ms ease 0s;
        text-align: center;
    }

    a:hover {
        color: white;
    }

}

@media all and (min-width:992px) and (max-width:1199px) {
    .navigation {
        width: 100%;
        height: 130px;
        background-color: #242424;
        position: fixed;
    }

    .imgDiv {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navAcc {
        width: 100%;
        height: 48.4px;
        background-color: #242424;
        position: fixed;
        top: 130px;
    }

    .headerIcon {
        display: none;
    }

    #navul {
        display: none;
    }

    ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 48.4px;
        list-style-type: none;
    }

    li {
        line-height: 40PX;
    }

    ol {
        display: none;
        width: 100%;
        height: 310px;
        background-color: #242424;
        list-style-type: none;

        position: absolute;



    }

    .Asub {
        font-size: 10px;
        height: 50px;
        line-height: 50px;
    }

    .submenuB {
        position: relative;
    }

    .submenuB:hover ol {
        display: block;
    }

    a {
        padding: 13px 17px;

        padding-right: 10px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: rgb(180, 180, 180);
        transition: all 300ms ease 0s;
        text-align: center;
    }

    a:hover {
        color: white;
    }
}

@media all and (min-width:1200px) {
    .navigation {
        width: 100%;
        height: 100px;
        background-color: #242424;
        position: fixed;
    }

    .logoDiv {
        width: 100%;
        height: 100px;
        position: relative;
    }

    .logoImg {
        position: absolute;
        left: 10%;
        bottom: -50%;
    }


    ul {
        width: 550px;
        height: 100px;
        list-style-type: none;
        justify-content: right;
        display: flex;
    }

    li {
        height: 60px;
        line-height: 120px;
    }

    ol {
        display: none;
        width: 100%;
        height: 370px;
        background-color: #242424;
        list-style-type: none;
        margin-top: -20px;
        position: absolute;



    }

    .Asub {
        font-size: 10px;
        height: 50px;
        line-height: 50px;
    }

    .submenuB {
        position: relative;
    }

    .submenuB:hover ol {
        display: block;
    }

    #navul {
        margin-left: 40%;
    }

    .br {
        border-right: 1px solid #47474c;

    }

    a {
        padding: 13px 12px;
        line-height: 60px;
        padding-right: 10px;
        height: 60px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: rgb(180, 180, 180);
        transition: all 300ms ease 0s;
        text-align: center;
    }

    a:hover {
        color: white;
    }

    .navAcc {
        display: none;
    }
}